<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @formulary %>

    <% if @formulary.attachment.attached? %>
      <p><%= t('formularies.show.uploaded_file') %>:</p>
      <%= image_tag @formulary.attachment.variant(resize_to_limit: [500, 500]) %>
    <% else %>
      <p><%= t('formularies.show.no_file_uploaded') %></p>
    <% end %>


    <%= link_to t('formularies.show.edit_button'), edit_formulary_path(@formulary), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t('formularies.show.back_button'), formularies_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to t('formularies.show.destroy_button'), @formulary, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
